sicoju.desktop/Connected Services/WSJudicial/ServicioJudicial.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sicoju.General" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sicoju.General" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFormularioReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FormularioReporte" nillable="true" type="tns:FormularioReporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormularioReporte" nillable="true" type="tns:ArrayOfFormularioReporte" />
  <xs:complexType name="FormularioReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="Formulario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormularioReporte" nillable="true" type="tns:FormularioReporte" />
  <xs:complexType name="ArrayOfPerfilReporte">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PerfilReporte" nillable="true" type="tns:PerfilReporte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPerfilReporte" nillable="true" type="tns:ArrayOfPerfilReporte" />
  <xs:complexType name="PerfilReporte">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Perfil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PerfilReporte" nillable="true" type="tns:PerfilReporte" />
</xs:schema>