sicoju.desktop/Connected Services/WSJudicial/ServicioJudicial3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.100.11/ServicioJudicial.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" />
  <xs:import schemaLocation="http://192.168.100.11/ServicioJudicial.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/sicoju.General" />
  <xs:element name="GetCasosFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pCaso" nillable="true" type="q1:Caso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasosFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetCasosFiltroResult" nillable="true" type="q2:ArrayOfCaso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCasoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetCasoResult" nillable="true" type="q3:Caso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvolucrados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvolucradosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetInvolucradosResult" nillable="true" type="q4:ArrayOfInvolucrado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetalleCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pDetalleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetalleCasoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCaso">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pCaso" nillable="true" type="q5:Caso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCasoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="SaveCasoResult" nillable="true" type="q6:Caso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormularios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetFormulariosResult" nillable="true" type="q7:ArrayOfFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulariosFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pFormulario" nillable="true" type="q8:Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulariosFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetFormulariosFiltroResult" nillable="true" type="q9:ArrayOfFormulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulariosPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPerfilID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFormulariosPerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/sicoju.General" minOccurs="0" name="GetFormulariosPerfilResult" nillable="true" type="q10:ArrayOfFormularioReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormularioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFormularioPerfilID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormularioPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormularioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pFormularioPerfil" nillable="true" type="q11:FormularioPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormularioPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pFormulario" nillable="true" type="q12:Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFormularioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="SaveFormularioResult" nillable="true" type="q13:Formulario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFormularioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFormularioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuario" nillable="true" type="q14:Usuario" />
        <xs:element minOccurs="0" name="pCompleto" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q15:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuario" nillable="true" type="q16:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CambiarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="CambiarClaveResult" nillable="true" type="q17:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuario" nillable="true" type="q18:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetUsuariosResult" nillable="true" type="q19:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuario" nillable="true" type="q20:Usuario" />
        <xs:element minOccurs="0" name="pTodos" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetUsuariosFiltroResult" nillable="true" type="q21:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsuarioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuario" nillable="true" type="q22:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="SaveUsuarioResult" nillable="true" type="q23:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetPerfilesResult" nillable="true" type="q24:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pPerfil" nillable="true" type="q25:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="GetPerfilesFiltroResult" nillable="true" type="q26:ArrayOfPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPerfilID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pPerfil" nillable="true" type="q27:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePerfilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="SavePerfilResult" nillable="true" type="q28:Perfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsuarioID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerfilesUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/sicoju.General" minOccurs="0" name="GetPerfilesUsuarioResult" nillable="true" type="q29:ArrayOfPerfilReporte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsuarioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/sicoju.entities.Entities" minOccurs="0" name="pUsuarioPerfil" nillable="true" type="q30:UsuarioPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUsuarioPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioPerfil">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pUsuarioPerfilID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsuarioPerfilResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>